.ranked-article {
    margin: 4rem 0 2rem;
    display: flex;
    justify-content: space-between;

    &__item {
        display: flex;
        flex: 1;

        img {
            height: 10rem;
        }
    }

    &__item-content {
        padding-inline: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-number {
        font-size: 2rem;
        font-weight: var(--bold);
        color: var(--grey-blue);
        margin: 0;
    }

    &__item-title {
        font-weight: var(--bold);
        margin: 0.5rem 0;
    }

    &__item-description {
        font-size: 0.8rem;
        margin: 0;
        color: var(--dark-grey-blue);
    }
}

@media screen and (max-width: 1000px) {
    .ranked-article {
        margin-top: 2rem;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }
}

// mobile layout
@media screen and (max-width: 650px) {
    .ranked-article {
        display: flex;
        flex-direction: column;

        &__item {
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 2rem;
        }
    }
}
