.ranked-article {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        display: flex;
        flex: 1;

        img {
            height: 8rem;
        }
    }

    &__item-content {
        padding-inline: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-number {
        font-size: 2rem;
        font-weight: var(--bold);
        color: var(--grey-blue);
    }

    &__item-title {
        font-weight: var(--bold);
    }

    &__item-description {
        margin-top: 0.2rem;
        font-size: 0.8rem;
        color: var(--dark-grey-blue);
    }
}
