@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --font_size: 15px;
    --bold: 700;
    --very-bold: 800;
}

body {
    font-family: 'Inter', sans-serif;
}

ul li {
    padding-left: 0;
    list-style: none;
}
