@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

:root {
  --font_size: 15px;
  --bold: 700;
  --very-bold: 800;
}

body {
  font-family: "Inter", sans-serif;
}

ul li {
  padding-left: 0;
  list-style: none;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --grey-blue: hsl(233, 8%, 79%);
  --dark-grey-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

.header {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__navbar {
  width: 50%;
  display: flex;
  align-items: center;
}
.header__navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__navbar ul li:hover {
  color: var(--soft-red);
}

.header__navbar-hamburger {
  z-index: 30;
  cursor: pointer;
  border: 0;
  background-color: inherit;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 20px;
}
.header__navbar-hamburger div {
  width: 100%;
  height: 4px;
  background-color: black;
}
.header__navbar-hamburger::before, .header__navbar-hamburger::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  transition: transform 0.4s ease-in-out;
}
.header__navbar-hamburger::before {
  top: 0;
}
.header__navbar-hamburger::after {
  bottom: 0;
}

.header__navbar-hamburger.opened div {
  display: none;
}
.header__navbar-hamburger.opened::before {
  bottom: 0;
  transform: rotate(315deg);
}
.header__navbar-hamburger.opened::after {
  top: 0;
  transform: rotate(45deg);
}

.overlay {
  display: none;
  height: 100%;
  width: 100vw;
  position: absolute;
  background-color: rgba(168, 168, 168, 0.576);
}
.overlay__active {
  position: absolute;
  transform: translateX(100vw);
  width: 70vw;
  background-color: var(--white);
  height: 100vh;
  transition: transform 0.3s ease-in-out;
}

.overlay.active {
  display: block;
}

.overlay.active .overlay__active {
  transform: translateX(30vw);
}

.overlay.active .overlay__menu {
  margin-top: 15rem;
  height: 30%;
}
.overlay.active .overlay__menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay.active .overlay__menu ul li {
  font-size: 1.3rem;
}
.overlay.active .overlay__menu ul li:hover {
  color: var(--soft-red);
}

@media screen and (max-width: 800px) {
  .header {
    justify-content: space-between;
  }
  .header__navbar {
    width: auto;
  }
  .header__navbar ul {
    display: none;
  }
  .header__navbar-hamburger {
    display: flex;
  }
}
.ranked-article {
  margin: 4rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ranked-article__item {
  display: flex;
  flex: 1;
}
.ranked-article__item img {
  height: 10rem;
}
.ranked-article__item-content {
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ranked-article__item-number {
  font-size: 2rem;
  font-weight: var(--bold);
  color: var(--grey-blue);
  margin: 0;
}
.ranked-article__item-title {
  font-weight: var(--bold);
  margin: 0.5rem 0;
}
.ranked-article__item-description {
  font-size: 0.8rem;
  margin: 0;
  color: var(--dark-grey-blue);
}

.container {
  margin-top: 3rem;
  width: min(1000px, 75%);
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  grid-template-rows: auto;
}
.main-content__column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content__column1 img {
  width: 100%;
}
.main-content__column1 p {
  margin-top: 2rem;
  line-height: 1.6;
}
.main-content__column2 {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-blue);
  color: var(--white);
  padding: 1rem 1.5rem;
}
.main-content__column2 h2 {
  font-size: 2.5rem;
  color: var(--soft-orange);
  margin: 0.5rem 0;
}
.main-content__column2 a:hover {
  color: var(--soft-orange);
}
.main-content__column2 p {
  color: var(--dark-grey-blue);
  margin: 0;
}
.main-content__column2 hr {
  border: none;
  height: 1px;
  background-color: var(--dark-grey-blue);
}
.main-content__title-row {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main-content__title-row h1 {
  font-size: 3rem;
  font-weight: var(--very-bold);
  flex: 1;
}
.main-content__title-row div {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content__title-row button {
  padding: 0.7rem;
  width: 60%;
  border: none;
  background-color: var(--soft-red);
  border-radius: 2px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}
.main-content__title-row button:hover {
  filter: brightness(1.2);
}
.main-content__title-row button:active {
  transform: translateY(2px);
}

.attribution {
  text-align: center;
}
.attribution a {
  color: var(--soft-red);
  font-weight: var(--bold);
}

@media screen and (max-width: 1350px) {
  .container {
    width: 1000px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: min(800px, 90%);
  }
  .main-content {
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
  }
  .main-content__column2 hr {
    display: none;
  }
  .main-content__column2 .news-story {
    display: flex;
  }
  .main-content__column2 .news-story__item {
    padding: 1rem;
    flex: 1;
  }
}/*# sourceMappingURL=main.css.map */